/*normalize*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*box-sizing*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*clearfix*/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

/* =============================================================================
                           SASS STUFF HERE 
   ========================================================================== */
/* =============================================================================
                           CUSTOM SCROLL BAR & SELECT BG 
   ========================================================================== */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #33acb5;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f4f4f4;
}

::selection {
  background: #ffde17;
}

::-moz-selection {
  background: #ffde17;
}

/* =============================================================================
   							BODY STARTS HERE
   ========================================================================== */
body {
  background: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #797979;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -6px, -2px, -2px, -2px, -1px, -1px;
  /*better kerning*/
  text-transform: uppercase;
  /*line-height: */
}

h2 {
  color: #949494;
  font-weight: 700;
}

h3 {
  color: #aaaaaa;
  font-size: 29px;
  letter-spacing: -2px;
}

h4 {
  color: #f4f4f4;
  font-weight: 700;
}

h5 {
  color: #33acb5;
}

a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -1px;
  color: #33acb5;
}

 /* =============================================================================
                        NAV IS HERE 
========================================================================== */
header a.mobilNav {
  float: right;
  position: relative;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #797979;
  z-index: 99999999;
  color: #33acb5;
  display: none;
}

nav {
  position: fixed;
  top: 0;
  max-width: 1400px;
  width: 100%;
  background: #f4f4f4;
  text-align: center;
  padding: 1% 0;
  box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
nav ul {
  margin: 0;
  padding: 0.3rem 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 1.5%;
  border-bottom: 2px solid rgba(244, 244, 244, 0);
}
nav a {
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: #797979;
  padding-bottom: 6%;
}

.selected {
  border-bottom: 2px solid #33acb5;
}

.navIcon a {
  top: 0;
  position: relative;
  width: 40px;
  height: 31px;
  display: inline-block;
  padding-left: 0;
  font-size: 0;
  background: url("../images/yellowRings.svg") no-repeat left bottom;
}

li.navIcon.selected {
  border-bottom: 2px solid #f4f4f4;
}

/* =============================================================================
   								WRAPPER STARTS HERE 
   ========================================================================== */
.cover {
  width: 100%;
  padding: 12%;
  background: url("../images/homepagePH.jpg") center center no-repeat fixed;
  background-size: cover;
}

/* =============================================================================
                           LOGO STARTS HERE 
   ========================================================================== */
.logoWrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logoWrapper svg {
  fill: #949494;
  width: 60px;
  height: 435px;
  position: absolute;
  filter: drop-shadow(0 6px 9px -4px rgba(0, 0, 0, 0.4));
}

svg.bracket1 {
  left: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

svg.bracket2 {
  /*THE SVG RIGHT CURLY BRACKET*/
  right: 0;
  top: 0;
  transform: scale(2) rotate(180deg);
  -ms-transform: scale(2) rotate(180deg);
  -webkit-transform: scale(2) rotate(180deg);
}

.logoWords h1 {
  color: #33acb5;
  font-size: 75px;
  letter-spacing: -6px;
}
.logoWords p {
  font-size: 31px;
  letter-spacing: -2px;
  color: #797979;
}
.logoWords h2, .logoWords h4 {
  font-size: 60px;
  letter-spacing: -5px;
}
.logoWords h2 {
  margin-bottom: -22px;
  margin-top: -10px;
}
.logoWords h4 {
  margin-top: 44px;
  margin-bottom: -10px;
  text-shadow: rgba(0, 0, 0, 0.38) 1.5px 1.5px 2.5px;
}
.logoWords h5 {
  font-size: 60px;
  display: inline-block;
  margin: 36px 0 45px 0;
}

/* =============================================================================
                           STORIES SECTION STARTS HERE 
   ========================================================================== */
.storiesContainer {
  padding: 40px;
  background: url(../images/bride_6822.svg) no-repeat left -73px top 20px, url(../images/groom_6821.svg) no-repeat right -100px top 20px, #f4f4f4;
  background-size: 515px;
}
.storiesContainer h2 {
  margin: 3px 0;
  font-size: 38px;
  letter-spacing: -3px;
  line-height: 28px;
}
.storiesContainer h3 {
  margin: 0;
}

.storyWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.brideStory {
  text-align: right;
  width: 49%;
  float: left;
  margin-right: 1%;
}

.groomStory {
  width: 49%;
  float: left;
  margin-left: 1%;
}

.ourStory {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  background: url("../images/couple_3706.svg") center center no-repeat;
  background-size: 40%;
}

/* =============================================================================
                          START OF PHOTOS SECTION
  ========================================================================== */
.photoWrapper {
  background: url(../images/perpose.svg) repeat fixed;
  width: 100%;
  padding: 4% 0.5%;
}

/* =============================================================================
                           FLEXSLIDER (BOTH)
   ========================================================================== */
.flex-container .flexslider {
  border: none;
  margin: 0 auto;
}
.flex-container .flex-direction-nav a {
  overflow: visible;
  color: #ffde17;
}

.weddingWrapper .flexslider, .formWrapper .flexslider, .photoWrapper .flexslider {
  max-width: 950px;
  width: 100%;
}

/* =============================================================================
                           TEAM.html IS HERE 
   ========================================================================== */
.teamPageWrapper {
  width: 100%;
  background: url(../images/lights.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.teamWrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1%;
  background: #f4f4f4;
  text-align: center;
}

.teamMember {
  float: left;
  width: 24%;
  margin: 0 1% 1% 0;
  padding: 10px;
}
.teamMember h2 {
  font-size: 25px;
  letter-spacing: -2px;
  margin: -21px 0 -10px 0;
  line-height: 21px;
}
.teamMember h3 {
  font-size: 19px;
  margin-top: 3px;
  line-height: 17px;
  letter-spacing: -1px;
}
.teamMember p {
  text-align: left;
  line-height: 19px;
  font-size: 15px;
}
.teamMember img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img.special {
  border: 2px solid #ffde17;
}

img.bridesmaid {
  border: 2px solid #f406e5;
}

img.groomsmen {
  border: 2px solid #80db2f;
}

.flowergirl .teamMember {
  float: none;
  clear: both;
  width: 50%;
  margin: 0 auto;
}

/* =============================================================================
                     WEDDING SECTION 
     ========================================================================== */
.weddingWrapper, .formWrapper {
  max-width: 1400px;
  width: 100%;
  padding: 1%;
  background-color: #f5f4f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #f5f4f3), color-stop(25%, #f0f0f0), color-stop(50%, #f0f0f0), color-stop(50%, #f5f4f3), color-stop(75%, #f5f4f3), color-stop(75%, #f0f0f0), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(-315deg, #f5f4f3 25%, #f0f0f0 25%, #f0f0f0 50%, #f5f4f3 50%, #f5f4f3 75%, #f0f0f0 75%, #f0f0f0);
  background-image: linear-gradient(45deg,#f5f4f3 25%, #f0f0f0 25%, #f0f0f0 50%, #f5f4f3 50%, #f5f4f3 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 150px 150px;
}
.weddingWrapper .flex-container, .formWrapper .flex-container {
  margin: 3% 0;
}
.weddingWrapper .flexslider, .formWrapper .flexslider {
  max-width: 1000px;
  background: #f4f4f4;
}
.weddingWrapper .photoContain, .formWrapper .photoContain {
  max-width: 500px;
  float: left;
  margin-right: 1%;
}
.weddingWrapper ul.slides, .formWrapper ul.slides {
  padding-right: 1%;
}
.weddingWrapper ul.slides h2, .formWrapper ul.slides h2 {
  display: table;
  margin: 2% auto;
  padding: 1%;
  font-size: 30px;
}
.weddingWrapper ul.slides h2.green, .formWrapper ul.slides h2.green {
  border-bottom: 2px solid #80db2f;
}
.weddingWrapper ul.slides h2.blue, .formWrapper ul.slides h2.blue {
  border-bottom: 2px solid #33acb5;
}
.weddingWrapper ul.slides h2.pink, .formWrapper ul.slides h2.pink {
  border-bottom: 2px solid #f406e5;
}
.weddingWrapper ul.slides h2.yellow, .formWrapper ul.slides h2.yellow {
  border-bottom: 2px solid #ffde17;
}
.weddingWrapper .flex-caption, .formWrapper .flex-caption {
  margin: 0 0 0 50%;
  padding: 0 4%;
}

/* =============================================================================
                   Registy 
   ========================================================================== */
.imageWrapper {
  padding: 0.5% 0;
  background: rgba(244, 244, 244, 0.7);
  border-radius: 3%;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 1%;
  text-align: center;
}
.container h2 {
  display: inline-block;
  color: #949494;
  font-size: 40px;
  letter-spacing: -3px;
  margin: 0;
  padding: 1%;
  border-bottom: 2px solid #ffde17;
}
.container svg {
  width: 100px;
  height: 100px;
}
.container svg .bow {
  fill: #E5E5E5;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.container svg .box-top {
  fill: #C1C1C1;
}
.container svg .box-bottom {
  fill: #D8D8D8;
}
.container h2:hover .bow {
  fill: #ffde17;
}
.container p {
  color: #949494;
}
.container ul {
  width: 100%;
  padding: 0;
  margin: 2% 0;
}
.container li {
  list-style-type: none;
  display: inline-block;
  padding-right: 2%;
  -webkit-transition-property: scale;
  -moz-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easeOutBack;
  -moz-transition-timing-function: easeOutBack;
  transition-timing-function: easeOutBack;
}
.container li:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* =============================================================================
                      RSVP FORM

      ========================================================================== */
.stripe {
  max-width: 1400px;
  width: 100%;
  padding: 1%;
  padding: 0;
}

.stripe2 {
  max-width: 1400px;
  width: 100%;
  padding: 1%;
  border-top: 2px solid #f406e5;
  border-bottom: 2px solid #80db2f;
  padding: 25px 0;
}

.stripe3 {
  max-width: 1400px;
  width: 100%;
  padding: 1%;
  border-top: 2px solid #ffde17;
  border-bottom: 2px solid #33acb5;
  padding: 13px 0;
}

form {
  width: 60%;
  margin: 15px auto 40px;
  border: 0.1px solid #3b3b3d;
  box-shadow: 0px 0px 11px 3px rgba(65, 56, 56, 0.4);
}
form header {
  background: #949494;
  text-align: center;
  padding: 2%;
}
form h3 {
  margin: 1%;
  letter-spacing: 0;
  color: #f4f4f4;
}

.inputWrapper {
  width: 100%;
  padding: 2%;
  background: #f4f4f4;
  text-align: center;
}

input.wide, .submitWrapper {
  color: #aaaaaa;
  outline: none;
  border: none;
  border-bottom: 2px solid #33acb5;
  width: 100%;
  float: left;
  padding: 2%;
  margin-bottom: 10px;
}
input.wide:focus, .submitWrapper:focus {
  color: #33acb5;
}

.join, .people, .nojoin {
  clear: both;
  width: 100%;
  float: left;
  padding: 0 2%;
  border-bottom: 2px solid #33ACB5;
  margin-bottom: 10px;
  background: #fff;
  text-align: left;
  color: #aaaaaa;
}
.join p, .people p, .nojoin p {
  display: inline-block;
  float: left;
  margin-right: 2%;
}
.join:not(:checked) label, .people:not(:checked) label, .nojoin:not(:checked) label {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-left: 2%;
}
.join:not(:checked) input[type="radio"], .people:not(:checked) input[type="radio"], .nojoin:not(:checked) input[type="radio"] {
  display: none;
  position: relative;
  left: 50px;
  top: -20px;
}
.join:not(:checked) input[type="radio"] ~ label:after, .people:not(:checked) input[type="radio"] ~ label:after, .nojoin:not(:checked) input[type="radio"] ~ label:after {
  font-family: FontAwesome;
  content: "";
  color: #33acb5;
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px dashed #CFCFCF;
  font-size: 28px;
  vertical-align: middle;
}
.join:not(:checked) input[type="radio"]#yes:checked + label:after, .people:not(:checked) input[type="radio"]#yes:checked + label:after, .nojoin:not(:checked) input[type="radio"]#yes:checked + label:after {
  content: "\f164";
}
.join:not(:checked) input[type="radio"]#no:checked + label:after, .people:not(:checked) input[type="radio"]#no:checked + label:after, .nojoin:not(:checked) input[type="radio"]#no:checked + label:after {
  content: "\f165";
}

.people {
  width: 49%;
  margin-right: 2%;
  padding: 1%;
  clear: right;
  color: #aaaaaa;
}
.people select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 25%;
  margin-top: 3px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  color: #33acb5;
  float: right;
  background: url("../images/aarow.svg") right center no-repeat;
}
.people select:focus {
  color: #33acb5;
  outline: none;
}

.people.last {
  margin-right: 0;
}

.submitWrapper {
  background: #33acb5;
}

input[type="submit"] {
  color: #f4f4f4;
  border: none;
  text-align: center;
  background: none;
  outline: none;
}

/* =============================================================================
                   Footer 
   ========================================================================== */
footer {
  background: #949494;
  color: #f4f4f4;
  padding: 1%;
  text-align: center;
}
footer a {
  color: #ffde17;
}

/**/
@media (max-width: 1150px) {
  .imageWrapper {
    width: 100%;
  }
  .imageWrapper li {
    padding: 1% 4%;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  nav ul a {
    font-size: .9rem;
  }

  .teamMember {
    width: 49%;
  }

  .weddingWrapper .photoContain, .formWrapper .photoContain {
    margin-bottom: 3%;
  }
  .weddingWrapper .flexslider, .formWrapper .flexslider {
    max-width: 500px;
  }
  .weddingWrapper .flex-caption, .formWrapper .flex-caption {
    margin: 0;
    padding: 0 4%;
  }

  .formWrapper form {
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  nav ul a {
    font-size: .8rem;
  }

  .logoWrapper svg {
    width: 62px;
    height: 330px;
  }

  svg.bracket1 {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

  svg.bracket2 {
    /*THE SVG RIGHT CURLY BRACKET*/
    right: 0;
    top: 0;
    transform: scale(1.5) rotate(180deg);
    -ms-transform: scale(1.5) rotate(180deg);
    -webkit-transform: scale(1.5) rotate(180deg);
  }

  .logoWords h1 {
    font-size: 60px;
    letter-spacing: -5px;
  }
  .logoWords p {
    font-size: 27px;
  }
  .logoWords h2, .logoWords h4 {
    font-size: 50px;
    letter-spacing: -5px;
  }
  .logoWords h2 {
    margin-top: -19px;
  }
  .logoWords h5 {
    font-size: 50px;
    margin: 24px 0 36px 0;
  }
}
/* Landscape phones and down */
@media (min-width: 576px) {
  nav {
    display: block !important;
  }
}
@media (max-width: 575px) {
  header a.mobilNav {
    position: fixed;
    display: inline-block;
    top: 13px;
    right: 40px;
    font-size: 18px;
  }

  nav ul li {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 1%;
  }
  nav ul li a {
    font-size: 1rem;
  }

  .selected {
    border-bottom: 2px solid transparent;
    color: #33acb5;
  }

  .navIcon a {
    display: none;
  }

  .logoWrapper svg {
    height: 279px;
    width: 54px;
    margin: 0 -2%;
  }

  .logoWords h1 {
    font-size: 50px;
    letter-spacing: -4px;
    margin-top: -11px;
  }
  .logoWords p {
    font-size: 27px;
  }
  .logoWords h2, .logoWords h4 {
    font-size: 34px;
    letter-spacing: -3px;
  }
  .logoWords h2 {
    margin-bottom: -38px;
  }
  .logoWords h5 {
    font-size: 50px;
    margin: 24px 0 36px 0;
  }

  .storiesContainer {
    background: url(../images/bride_6822.svg) no-repeat center top 7%, url(../images/groom_6821.svg) no-repeat center top 40%;
    background-size: 100%;
  }

  .brideStory, .groomStory {
    text-align: center;
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .ourStory {
    background-size: 100%;
  }

  .teamWrapper {
    padding: 4% 0;
  }

  .teamMember, .flowergirl .teamMember {
    width: 100%;
  }
  .teamMember p, .flowergirl .teamMember p {
    text-align: center;
  }

  .container svg {
    width: 60px;
    height: 60px;
  }
  .container h2 {
    font-size: 27px;
  }

  form {
    font-size: 13px;
  }
}
