/*normalize*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*box-sizing*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*clearfix*/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

/* =============================================================================
                           SASS STUFF HERE 
   ========================================================================== */
/* =============================================================================
                           CUSTOM SCROLL BAR & SELECT BG 
   ========================================================================== */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #33acb5;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f4f4f4;
}

::selection {
  background: #ffde17;
}

::-moz-selection {
  background: #ffde17;
}

/* =============================================================================
   							BODY STARTS HERE
   ========================================================================== */
body {
  background: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #797979;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -6px, -2px, -2px, -2px, -1px, -1px;
  /*better kerning*/
  text-transform: uppercase;
  /*line-height: */
}

h2 {
  color: #949494;
  font-weight: 700;
}

h3 {
  color: #c5c5c5;
  font-size: 29px;
  letter-spacing: -2px;
}

h4 {
  color: #f4f4f4;
  font-weight: 700;
}

h5 {
  color: #33acb5;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #33acb5;
}

 /* =============================================================================
                        NAV IS HERE 
========================================================================== */
nav {
  position: fixed;
  top: 0;
  width: 1400px;
  max-width: 100%;
  background: #f4f4f4;
  text-align: center;
  padding: 0 0 25px 0;
  box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  z-index: 9999;
}
nav ul {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 2px solid rgba(244, 244, 244, 0);
}
nav a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: #797979;
  padding: 0 20px;
}

.selected {
  border-bottom: 2px solid #33acb5;
}

.navIcon a {
  top: 9px;
  position: relative;
  width: 50px;
  padding-top: 0;
  display: inline-block;
  height: 50px;
  padding-left: 0;
  text-indent: -100px;
  white-space: nowrap;
  overflow: hidden;
  background: url("../images/yellowRings.svg") no-repeat left bottom;
}

li.navIcon.selected {
  border-bottom: 2px solid #f4f4f4;
}

/* =============================================================================
   								WRAPPER STARTS HERE 
   ========================================================================== */
.cover {
  max-width: 100%;
  padding: 12%;
  background: url("../images/homepagePH.jpg") center center no-repeat fixed;
  background-size: cover;
}

/* =============================================================================
                           LOGO STARTS HERE 
   ========================================================================== */
.logoWrapper {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logoWrapper svg {
  fill: #949494;
  width: 60px;
  height: 435px;
  position: absolute;
  filter: drop-shadow(0 6px 9px -4px rgba(0, 0, 0, 0.4));
}

svg.bracket1 {
  left: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

svg.bracket2 {
  /*THE SVG RIGHT CURLY BRACKET*/
  right: 0;
  top: 0;
  transform: scale(2) rotate(180deg);
  -ms-transform: scale(2) rotate(180deg);
  -webkit-transform: scale(2) rotate(180deg);
}

.logoWords h1 {
  color: #33acb5;
  font-size: 75px;
  letter-spacing: -6px;
}
.logoWords p {
  font-size: 31px;
  letter-spacing: -2px;
  color: #797979;
}
.logoWords h2, .logoWords h4 {
  font-size: 60px;
  letter-spacing: -5px;
}
.logoWords h2 {
  margin-bottom: -22px;
  margin-top: -10px;
}
.logoWords h4 {
  margin-top: 44px;
  margin-bottom: -10px;
  text-shadow: rgba(0, 0, 0, 0.38) 1.5px 1.5px 2.5px;
}
.logoWords h5 {
  font-size: 60px;
  display: inline-block;
  margin: 36px 0 45px 0;
}

/* =============================================================================
                           STORIES SECTION STARTS HERE 
   ========================================================================== */
.storiesContainer {
  padding: 40px;
  background: url(../images/bride_6822.svg) no-repeat left -73px top 20px, url(../images/groom_6821.svg) no-repeat right -100px top 20px, #f4f4f4;
  background-size: 515px;
}
.storiesContainer h2 {
  margin: 3px 0;
  font-size: 38px;
  letter-spacing: -3px;
  line-height: 28px;
}
.storiesContainer h3 {
  margin: 0;
}

.storyWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.brideStory {
  text-align: right;
  width: 49%;
  float: left;
  margin-right: 1%;
}

.groomStory {
  width: 49%;
  float: left;
  margin-left: 1%;
}

.ourStory {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  background: url("../images/couple_3706.svg") center center no-repeat;
  background-size: 40%;
}

/* =============================================================================
                          START OF PHOTOS SECTION
  ========================================================================== */
.photoWrapper {
  background: url(../images/perpose.svg) repeat fixed;
  max-width: 100%;
  padding: 4% 0.5%;
}

/* =============================================================================
                           FLEXSLIDER (BOTH)
   ========================================================================== */
.flex-container .flexslider {
  border: none;
  margin: 0 auto;
}
.flex-container .flex-direction-nav a {
  overflow: visible;
  color: #ffde17;
}

.weddingWrapper .flexslider, .photoWrapper .flexslider {
  width: 950px;
  max-width: 100%;
}

/* =============================================================================
                     PHOTOS 
      ========================================================================== */
.photoWrapper .flexslider {
  max-height: 712px;
}

/* =============================================================================
                           TEAM.html IS HERE 
   ========================================================================== */
.teamPageWrapper {
  max-width: 100%;
  background: url(../images/lights.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.teamWrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 1%;
  background: #f4f4f4;
  text-align: center;
}

.teamMember {
  float: left;
  width: 24%;
  margin: 0 1% 1% 0;
  padding: 10px;
}
.teamMember h2 {
  font-size: 25px;
  letter-spacing: -2px;
  margin: -21px 0 -10px 0;
  line-height: 21px;
}
.teamMember h3 {
  font-size: 19px;
  margin-top: 3px;
  line-height: 17px;
  letter-spacing: -1px;
}
.teamMember p {
  text-align: left;
  line-height: 19px;
  font-size: 15px;
}
.teamMember img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img.special {
  border: 2px solid #ffde17;
}

img.bridesmaid {
  border: 2px solid #f406e5;
}

img.groomsmen {
  border: 2px solid #80db2f;
}

.flowergirl .teamMember {
  float: none;
  clear: both;
  width: 50%;
  margin: 0 auto;
}

/* =============================================================================
                     WEDDING SECTION 
     ========================================================================== */
.weddingWrapper {
  width: 1400px;
  max-width: 100%;
  padding: 1%;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(45deg, #f5f4f3 25%, #f0f0f0 25%, #f0f0f0 50%, #f5f4f3 50%, #f5f4f3 75%, #f0f0f0 75%, #f0f0f0);
  -webkit-background-size: 100px 100px;
  background-size: 150px 150px;
}
.weddingWrapper .flex-container {
  margin: 3% 0;
}
.weddingWrapper .flexslider {
  background: #f4f4f4;
}
.weddingWrapper .photoContain {
  width: 500px;
  float: left;
}
.weddingWrapper ul.slides h2 {
  display: table;
  margin: 2% auto;
  padding: 1%;
  font-size: 30px;
}
.weddingWrapper ul.slides h2.green {
  border-bottom: 2px solid #80db2f;
}
.weddingWrapper ul.slides h2.blue {
  border-bottom: 2px solid #33acb5;
}
.weddingWrapper ul.slides h2.pink {
  border-bottom: 2px solid #f406e5;
}
.weddingWrapper ul.slides h2.yellow {
  border-bottom: 2px solid #ffde17;
}
.weddingWrapper .flex-caption {
  margin-left: 500px;
  padding: 0 4% 0 1%;
}

/* =============================================================================
                   Registy 
   ========================================================================== */
.container {
  width: 1400px;
  max-width: 100%;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
}
.container h2 {
  display: inline-block;
  color: #949494;
  font-size: 40px;
  letter-spacing: -3px;
  margin: 0;
  padding: 1%;
  border-bottom: 2px solid #ffde17;
}
.container h2 img {
  padding: 0 1%;
  -webkit-transition-property: rotate;
  -moz-transition-property: rotate;
  transition-property: rotate;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: easeOutQuart;
  -moz-transition-timing-function: easeOutQuart;
  transition-timing-function: easeOutQuart;
}
.container h2 img.left:hover {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.container h2 img.right:hover {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.container p {
  color: #949494;
}
.container ul {
  padding: 0;
  margin: 2% 0;
}
.container li {
  list-style-type: none;
  display: inline-block;
  padding-right: 2%;
  -webkit-transition-property: scale;
  -moz-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easeOutBack;
  -moz-transition-timing-function: easeOutBack;
  transition-timing-function: easeOutBack;
}
.container li:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.imageWrapper {
  padding: 0.5% 0;
  margin: 3%;
  background: rgba(244, 244, 244, 0.7);
  border-radius: 3%;
}

/* =============================================================================
                      RSVP FORM

      ========================================================================== */
form {
  max-width: 60%;
  margin: 15px auto;
  border: 0.1px solid #3b3b3d;
  box-shadow: 0px 0px 11px 3px rgba(65, 56, 56, 0.4);
}
form header {
  background: #949494;
  text-align: center;
  padding: 2%;
}

.inputWrapper {
  width: 100%;
  padding: 2%;
  background: #f4f4f4;
}
.inputWrapper h3, .inputWrapper h4 {
  margin: 1%;
  letter-spacing: -1px;
  color: #f4f4f4;
}
.inputWrapper input.wide {
  outline: none;
  border: none;
  width: 100%;
  float: left;
  padding: 2%;
  border-bottom: #33acb5;
}
.inputWrapper input.wide:focus {
  color: #33acb5;
}
.inputWrapper .field {
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 25px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
.inputWrapper input[type="submit"] {
  color: #f4f4f4;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
}
.inputWrapper input[type="submit"] .submitWrapper {
  outline: none;
  border: none;
  color: #33acb5;
  line-height: 30px;
  border-radius: 6px;
  margin-top: 25px;
  padding: 15px 15px;
  background: #00a9e0;
  font-weight: bold;
}
