/* =============================================================================
                           SASS STUFF HERE 
   ========================================================================== */
   
   //COLOURS
   $blue: #33ACB5;
   $white: #F4F4F4;
   $drkwhite:#F0F0F0;
   $yellow: #FFDE17;
   $pink: #F406E5;
   $green: #80DB2F;
   $grey: #C5C5C5;
   $drkgrey: #949494;
   $litegrey: #F5F4F3;
   $black: #000;
   $liteblack: #797979;

   $colour1: $litegrey;
   $colour2: $drkwhite;

   //layout
   @mixin layout {
    width: 1400px;
    max-width: 100%;
    padding: 1%;
    margin: 0 auto;
   
   }

   //SHADOWS
  @mixin shadow{
     box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.4);
  }

  @mixin textshad {
    text-shadow: rgba(0, 0, 0, 0.38) 1.5px 1.5px 2.5px;
    
  }

  

