
@import 'bourbon';
@import 'normalize';
@import "variables";


/* =============================================================================
                           CUSTOM SCROLL BAR & SELECT BG 
   ========================================================================== */

   ::-webkit-scrollbar { 
     width: 15px; 
     height: 15px;
     background: $white; 
   }
      
   ::-webkit-scrollbar-thumb{
      height: 10px; 
      background-color: $blue;
      border-radius: 3px;
      }

      ::-webkit-scrollbar-track-piece 
      { background-color:$white;}

      ::selection {background:$yellow;}
      ::-moz-selection {background:$yellow;}


/* =============================================================================
   							BODY STARTS HERE
   ========================================================================== */
   body{
   	background: $white; 
   	font-family: 'Raleway', sans-serif;
   	font-size: 15px;
    line-height: 22px;
    color: $liteblack


   }

   h1, h2, h3, h4, h5, h6{
      font-family: 'Ubuntu', sans-serif;
      letter-spacing:-6px, -2px, -2px, -2px, -1px, -1px; /*better kerning*/
      text-transform: uppercase;
      /*line-height: */
   }

   h2 {
      color: $drkgrey;
      font-weight: 700; 

   }

   h3{
      color: $grey;
      font-size: 29px;
      letter-spacing: -2px;
   }

   h4 {
      color: $white;
      font-weight: 700;

   }

   h5{
      color: $blue;

   }

   a{
    text-decoration: none;
    font-weight: bold;
    color: $blue;

   }
       /* =============================================================================
                              NAV IS HERE 
      ========================================================================== */

   nav{
      position: fixed;
      top: 0;
      width: 1400px;
      max-width: 100%;
      background: $white;
      text-align: center;
      padding: 0 0 25px 0;
      @include shadow;
      margin-bottom: 25px;
      z-index: 9999;


        //This is to get rid of browser defult margin/padging on lists
        ul{
          margin: 0;
          padding: 10px 0;
          text-align: center;

             //next rule gets rid of bullets and displays inline all in one shot
            li{
              display: inline-block; 
              vertical-align: bottom;
              border-bottom: 2px solid rgba($white, 0);//this is so the nav items don't jump up when selected
            }
        }

         a{
          text-decoration: none;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 1rem;
          color: $liteblack;
          padding: 0 20px;
          }
   }

   .selected{
    border-bottom: 2px solid $blue;
   }

   .navIcon a{
      top: 9px;
      position: relative;
      width: 50px;
      padding-top: 0;
      display: inline-block;
      height: 50px;
      padding-left: 0;
      text-indent: -100px;
      white-space: nowrap;
      overflow: hidden;
      background: url("../images/yellowRings.svg") no-repeat left bottom;     

   }

   li.navIcon.selected{
          border-bottom: 2px solid rgba($white, 1);
          }

  
/* =============================================================================
   								WRAPPER STARTS HERE 
   ========================================================================== */
  


   .cover{
   max-width: 100%;
   padding:12%;
   background: url("../images/homepagePH.jpg") center center no-repeat fixed;
   background-size: cover;
   }

/* =============================================================================
                           LOGO STARTS HERE 
   ========================================================================== */
    .logoWrapper{
      position: relative;
      width: 500px;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;

        svg{
         
          fill:$drkgrey;
          width: 60px;
          height: 435px;
          position: absolute;
          filter: drop-shadow(0 6px 9px -4px rgba(0, 0, 0, 0.4));
        }


   }

   svg.bracket1{  
      left: 0;
      -webkit-transform:scale(2);
      -ms-transform:scale(2);
      transform:scale(2);
  

   }

   svg.bracket2 { /*THE SVG RIGHT CURLY BRACKET*/
      right: 0;
      top: 0;
     transform:scale(2) rotate(180deg);
   -ms-transform:scale(2) rotate(180deg); 
   -webkit-transform:scale(2) rotate(180deg);   
   }


   .logoWords{


      h1{
        color: $blue;
        font-size: 75px;
        letter-spacing: -6px;
        
      }

      p{
        font-size: 31px;
        letter-spacing: -2px;
        color: $liteblack;
       
      }


      h2, h4{
          font-size: 60px;
          letter-spacing: -5px;
        }

      h2{
          margin-bottom: -22px;
          margin-top: -10px;
      }

      h4{
        margin-top: 44px; 
        margin-bottom: -10px;
        @include textshad;
      }

      h5{
        font-size: 60px;
        display: inline-block;
        margin: 36px 0 45px 0;
      }


   }

/* =============================================================================
                           STORIES SECTION STARTS HERE 
   ========================================================================== */

   .storiesContainer{
      padding: 40px;
        background: 
      url(../images/bride_6822.svg) no-repeat left -73px top 20px, 
      url(../images/groom_6821.svg) no-repeat right -100px top 20px, 
      $white;
      background-size:515px;
      
      h2 {
        margin: 3px 0; 
        font-size: 38px;
        letter-spacing: -3px;
        line-height: 28px; 
      }

      h3{
        margin: 0;
      }
   } //end of storiesContainer

   .storyWrapper{
      max-width: 800px;
      margin: 0 auto;   
   }


   .brideStory{
      text-align: right;
      width: 49%;
      float: left;
      margin-right: 1%;
   }


   .groomStory{
      width: 49%;
      float: left;
      margin-left: 1%;
   }


   .ourStory{
      text-align: center;
      max-width: 800px;
      margin: 40px auto;
      background: url("../images/couple_3706.svg") center center no-repeat;
      background-size: 40%;

   }



 /* =============================================================================
                           START OF PHOTOS SECTION
   ========================================================================== */
.photoWrapper{
   background: url(../images/perpose.svg) repeat fixed;
   max-width: 100%;
   padding: 4% 0.5%;
   
}


/* =============================================================================
                           FLEXSLIDER (BOTH)
   ========================================================================== */
  .flex-container{
    

      .flexslider{
        border: none;
        margin: 0 auto;

      }
      .flex-direction-nav a {
        overflow:visible;
        color: $yellow;
      }
  }

  .weddingWrapper, .photoWrapper{
        .flexslider{
          width: 950px;
          max-width: 100%;
         
        }

      }


/* =============================================================================
                     PHOTOS 
      ========================================================================== */
  .photoWrapper .flexslider{
        max-height: 712px;
      }
       

/* =============================================================================
                           TEAM.html IS HERE 
   ========================================================================== */
   .teamPageWrapper{
      
      max-width: 100%;
      background: url(../images/lights.jpg) center center no-repeat fixed;
      -webkit-background-size: cover;
      background-size: cover;
   }

   .teamWrapper{
      max-width: 90%;
      margin: 0 auto;
      padding: 1%;
      background: $white;
      text-align: center;

   }

   .teamMember{
      // display: inline-block;
      float: left;
      width: 24%;
      margin: 0 1% 1% 0;
      padding: 10px;

        h2{
           font-size: 25px;
           letter-spacing: -2px;
           margin: -21px 0 -10px 0;
           line-height: 21px;
        }

        h3{
           font-size: 19px;
           margin-top: 3px;
           line-height: 17px;
           letter-spacing: -1px;
        }

        p{
           text-align: left;
           line-height: 19px;
           font-size: 15px;
        }


        img{
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

            // &.bridesmaid:last-child, 
            // &.groomsmen:last-child{
            //    margin-right: 0;  
            // }

        }//end of .teamMeber img

   } //end of .teamMember

   img.special{
      border: 2px solid $yellow;
   }

   img.bridesmaid{
      border: 2px solid $pink;
   }

   img.groomsmen{
      border: 2px solid $green;
   }
  
   .flowergirl .teamMember{
      float: none;
      clear: both;
      width: 50%;
      margin: 0 auto;
   }



 /* =============================================================================
                      WEDDING SECTION 
      ========================================================================== */


  .weddingWrapper{
    @include layout;
   background-image: -webkit-linear-gradient(45deg, $colour1 25%, $colour2 25%, $colour2 50%, $colour1 50%, $colour1 75%, $colour2 75%, $colour2);
   -webkit-background-size: 100px 100px;
   background-size: 150px 150px;

    .flex-container{
      margin: 3% 0;
    }

    .flexslider{
      background:$white;
    }

    .photoContain{
      width: 500px;
      float: left;
      margin-right: 1%;
    }

    ul.slides{
      padding-right: 1%;
      
      h2{
          display: table;
          margin: 2% auto;
          padding: 1%;
          font-size: 30px;
          
            &.green{
              border-bottom: 2px solid $green;
            }

            &.blue{
              border-bottom: 2px solid $blue;
            }

            &.pink{
              border-bottom: 2px solid $pink;
            }

            &.yellow{
              border-bottom: 2px solid $yellow;
            }
        }

    }

    .flex-caption {
      margin-left: 50%;
      padding-left: 4%;
    }

  }


   
   /* =============================================================================
                      Registy 
      ========================================================================== */

   .container{
    @include layout;
    text-align: center;
    

      h2{
        display: inline-block;
        color: $drkgrey;
        font-size: 40px;
        letter-spacing: -3px;
        margin: 0;
        padding: 1%;
        border-bottom: 2px solid $yellow;  
        }

        svg{
            width: 100px;
            height: 100px;
          

            .bow{
              fill:#E5E5E5;
              @include transition-property (all);
              @include transition-duration(0.5s);
            }
          
            .box-top{fill:#C1C1C1;}
            .box-bottom{fill:#D8D8D8;}
          
          }

          h2:hover .bow{
              fill:$yellow;

          }






      p{
       color: $drkgrey;
      }

      ul{
        // text-align: center;
        padding: 0;
        margin: 2% 0;
      }

      li{
        list-style-type:none;
        display: inline-block;
        padding-right: 2%;
        @include transition-property (scale);
        @include transition-duration(0.5s);
        @include transition-timing-function(easeOutBack);

          &:hover{
            @include transform(scale(1.2));
          }
      }

   } 

   .imageWrapper{
    padding: 0.5% 0;
    margin: 3%;
    background: rgba($white, 0.7);
    border-radius: 3%;
   }
/* =============================================================================
                      RSVP FORM

      ========================================================================== */


form {
max-width: 60%;
margin: 15px auto;
border: 0.1px solid #3b3b3d;
box-shadow: 0px 0px 11px 3px rgba(65, 56, 56, 0.4);

    header{
      background: $drkgrey;
      text-align: center;
      padding: 2%;
    }

}

.inputWrapper {
  width: 100%;
  padding: 2%;
  background: $white;
  text-align: center;

    h3, h4 {
      margin:1%;
      letter-spacing: -1px;
      color: $white;
    }
}

input.wide {
  outline: none;
  border: none;
  border-bottom: 2px solid $blue;
  width: 100%;
  float: left;
  padding: 2%;
  margin-bottom: 10px;
 

    &:focus {
      color: $blue;  
    }    
} //end of input.wide


.join{
clear: both;
width: 100%;
float: left;
padding: 0 2%;
border-bottom: 2px solid #33ACB5;
margin-bottom: 10px;
background: #fff;
text-align: left;
color: #aaa;

    p{
      display: inline-block;
      float: left;
      margin-right: 2%;
    }

    .boxInput{
      float: left;
      margin-right: 2%;
    }
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label>span {
  display:inline-block;
  width: 41px;
  height: 40px;
  margin: 6px 30px 0 2px;
  vertical-align: -15px;
  background:url(../images/checkbox_sprite.svg) left -40px top no-repeat;
  cursor:pointer;
}

input[type="submit"] {
color: $white;
font-weight: bold;
border: none;
background: none;
outline: none;

  .submitWrapper {
    outline: none;
    border: none;
    color: $blue;
    line-height: 30px;
    border-radius: 6px;
    margin-top: 25px;
    padding: 15px 15px;
    background: #00a9e0;
    font-weight: bold;
  }
}




    
  